<div class="container">
    <h1>Register Page</h1>
    <p>ogogogo</p>
    <br>
    <form action="/auth/register" role="form" method="POST" style="max-width: 300px">
        <div class="form-group">
            <input type="text" name="name" placeholder="name" class="form-control">
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="email" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="pass" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">
                Submit
            </button>
            <a class="btn btn-primary" href="/">
                Cancel
            </a>
        </div>
    </form>
</div>